/* Remove browser defaults */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.Data {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

/* Tab Container */
.Tabs {
  width: 80%;
  height: 80vh;
  background: rgba(255, 255, 255, 0.7);
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  margin-top: 5%;
  color: #242b25;
  border-radius: 2rem;
  overflow:auto;
}

.recharts-surface{
  padding: 1rem;
}

.react-tabs__tab-list {
  width: 70%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #184259;
  border-radius: 2rem;
  padding-left: 0px;
}

.react-tabs__tab {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}

.react-tabs__tab--selected {
  background: #70c7aa;
  color: #e8f0f2;
}

.react-tabs__tab--disabled {
  color: gray;
  cursor: default;
}

.react-tabs__tab:hover {
  background: rgba(50, 224, 196, 0.15);
}

.react-tabs__tab:first-child {
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}

.react-tabs__tab:last-child {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}


.react-tabs__tab-panel--selected {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.databutton{

  background-color: #c2fbd7;
  width: 100px;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(2, 51, 2);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.databutton:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


@media only screen and (max-width: 767px) {
  .Data{
    margin-top: 20vh;
  }

  .react-tabs__tab-list {
    flex-direction: column;
    align-items: center;
  }
  .react-tabs__tab {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  .Data{
    font-size: small;
    height: 95vh;
    margin-top: 35vh ;
  }
  .Tabs{
    margin-top: 5vh;
    height: 90%;
  }

  p{
    font-size: small;
  }
  .react-tabs__tab-list {
    width: 70%;
    margin: 0 auto 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #184259;
    border-radius: 2rem;
    padding-left: 0px;
  }

}

/*-------------datacontainer*/

.datacontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.displayContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.graf-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

td,
th {
  text-align: center;
  border: 1px solid #000000;
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1rem auto;
}

/*----------------Top container-------------------*/

.dataContainer.top-container::before {
  background-image: url("../images/flowers-background.jpg");
  height: 100vh;
  position: fixed;
}

/*----------Table--------------*/

.green-table {
  width: 100%;
  border-collapse: collapse;
}

.green-table th {
  background-color: #70c7aa;
  color: white;
  padding: 8px;
  text-align: left;
}

.green-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.green-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.green-table tr:hover {
  background-color: #ddd;
}

.green-table td[colspan="3"] {
  background-color: #f2f2f2;
  text-align: center;
  font-style: italic;
}