.environment-values{
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #2f234f;
    background-color: #fef7e5;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.environment-values.top-container::before {
    background-image: url("../images/flowers-background.jpg");
    height: 100vh;
    position: fixed;
  }
  
  