.container {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  margin: 0 auto;
  margin-top: 2vh;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 100%;
}

.navbar {
  padding-top: 5px;
  height: 4vh;
  position: absolute;
  opacity: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #b4ead8;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #c1b2dd;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

#dropdown-logo-image {
  width: 10vw;
  height: auto;
}

#logo-image {
  padding-top: 8vh;
  width: 10vw;
  height: auto;
}

/*-------------------meadia queries------------------*/

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #35574c;
    text-decoration: none;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #e5fee6;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
    margin-right: 0;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
    margin-left: 22px;
  }

  a{
    width: 100%;
  }

  .navbar{
    width: 100vw;
  }
}

@media only screen and (max-width: 1200px) {
  #logo-image {
    padding-top: 30%;
    width: 10vw;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  #logo-image {
    padding-top: 30%;
    width: 20vw;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  #logo-image {
    padding-top: 30%;
    width: 20vw;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
  #logo-image {
    width: 20vw;
    height: auto;
  }
}
