

@media screen and (max-width: 1100px) {
     #PlantHeader {
        flex-direction: column;
    }

    #Plantform {
        width: 50vw;
        height: 50vw;
    }  
}

@media screen and (max-width: 700px) {
    #Plantform {
        width: 55vw;
        height: 70vw;
    }  
}

@media screen and (max-width: 500px) {
    #PlantSearch {
        flex-direction: column;
    }

    #Plantform {
        width: 65vw;
        height: 90vw;
    }  
}
    
    
.plant-management-container.top-container::before {
    background-image: url("../images/flowers-background.jpg");
    height: 100vh;
    position: fixed;
  }



    